:root {
   scroll-behavior: smooth;
   --primary-theme-color: #20232a;
   --secondary-theme-color: #282c34;
   --text-color: #fff;
   --primary-shadow-color: #8888;
   --secondary-shadow-color: #21242c80;
   --button-color: #61dafb;
   --button-color-active: #fff;
   --button-text-color: #000;
   --primary-highlight-color: #61dafb;
   --secondary-highlight-color: #ffd700;
   --padding-section: 4rem 0;
   --padding-container: 0 2rem;
   --max-width-container: 1024px;
   --border-radius: 0.5rem;
   --all-transitions: all 0.25s;
}

@keyframes icons-jump {
   0% {
      margin-top: 0;
   }

   100% {
      margin-top: 1rem;
   }
}

@keyframes icons-jump-left {
   0% {
      margin-left: 0;
   }
   100% {
      margin-left: 1rem;
   }
}

.profile {
   display: flex;
   align-items: center;
   justify-content: center;
   background-image: url(../img/machupicchu.jpg);
   background-size: cover;
   background-position: center;
   min-height: 100vh;
   overflow: hidden;
}

.profile__container {
   display: grid;
   gap: 2rem;
   max-width: var(--max-width-container);
   margin: auto;
   padding: var(--padding-container);
}

.profile__info {
   display: flex;
   flex-direction: column;
   gap: 1rem;
   background-color: var(--secondary-shadow-color);
   border-radius: var(--border-radius);
   box-shadow:
      0 0 0 0.125rem var(--primary-shadow-color),
      0 0 0 0.25rem var(--primary-shadow-color);
   padding: 1rem;
   text-align: center;
   transition: var(--all-transitions);
}

.profile__info:hover {
   box-shadow:
      0 0 0 0.125rem var(--primary-highlight),
      0 0 0.25rem 0 var(--secondary-highlight);
}

.profile__info-titulo {
   font-size: 2rem;
   margin: 0;
}

.profile__info-subtitulo {
   font-size: 1.5rem;
   margin: 0;
}

.profile__info-description {
   display: none;
}

.profile__info-link-container {
   display: flex;
   justify-content: center;
   gap: 1rem;
}

.profile__info-link {
   background-color: var(--button-color);
   border-radius: var(--border-radius);
   color: var(--button-text-color);
   font-weight: 500;
   text-shadow: 0 0 0.125rem var(--primary-highlight);
   text-decoration: none;
   padding: 0.5em 1.5em;
   transition: var(--all-transitions);
}

.profile__info-link:hover,
.profile__info-link--active {
   background-color: var(--button-color-active);
   box-shadow: inset 0 0 5px 3px rgb(182, 180, 180);
}


.profile__figure {
   display: flex;
   align-items: center;
   justify-content: center;
}

.profile__figure-image-container {
   position: relative;
   display: flex;
   max-width: 256px;
   margin: 0;
}

.profile__figure-image {
   border-radius: 50%;
   width: 100%;
   transition: var(--all-transitions);
}
.profile__figure-image:hover {
   box-shadow:
   0 0 0.25 0 var(--primary-highlight);
}

.profile__figure-one {
   position: absolute;
   width: 25%;
   top: 100%;
   left: 50%;
   transform: translate(-50%, -50%);
   animation: icons-jump 1s ease-in-out 0.5s infinite alternate;
   pointer-events: none;
}

.profile__figure-two {
   position: absolute;
   width: 25%;
   top: 50%;
   left: 0%;
   transform: translate(-50%, -50%);
   animation: icons-jump-left 1s ease-in-out -0.5s infinite alternate;
   pointer-events: none;
}

.profile__figure-three {
   position: absolute;
   width: 25%;
   top: 0%;
   left: 50%;
   transform: translate(-50%, -50%);
   animation: icons-jump 1s ease-in-out -0.5s infinite alternate;
   pointer-events: none;
}

.profile__figure-four {
   position: absolute;
   width: 25%;
   top: 50%;
   left: 100%;
   transform: translate(-50%, -50%);
   animation: icons-jump-left 1s ease-in-out 0.5s infinite alternate;
   pointer-events: none;
}

@media (min-widht: 854px) {

   .profile__container {
      grid-template-columns: 1fr 1fr;
   }
   
   .profile__info {
      padding: 2rem;
      text-align: start;
   }

   .profile__info-titulo {
      font-size: 1.25rem;
   }

   .profile__info-subtitulo {
      font-size: 1.5rem;
   }

   .profile__info-description {
      display: flex;
   }

   .profile__info-link-container {
      justify-content: flex-start;
   }

   .profile__figure-image-container {
      max-width: 360px;
   }
}