:root {
   --primary-theme-color: #20232a;
   --secondary-theme-color: #282c34;
   --text-color: #fff;
   --primary-shadow-color: #8888;
   --secondary-shadow-color: #21242c80;
   --button-color: #61dafb;
   --button-color-active: #fff;
   --button-text-color: #000;
   --primary-highlight: #61dafb;
   --secondary-highlight: #ffd700;
   --padding-section: 2em 0;
   --padding-container: 0 2em;
   --max-width-container: 1024px;
   --border-radius: 0.5rem;
   --all-transitions: all 0.25s;
}

.profile {
   display: flex;
   justify-content: center;
   align-items: center;
   background-image: url(../img/machupicchu.jpg);
   background-size: cover;
   background-position: center;
   min-height: 100vh;
}

.profile__container {
   display: grid;
   grid-template-columns: 1fr;
   justify-items: center;
   max-width: var(--max-width-container);
   margin: auto;
   padding: var(--padding-container);
}

.profile__info {
   display: flex;
   flex-direction: column;
   gap: 1rem;
   text-align: center;
   background-color: var(--secondary-shadow-color);
   padding: 1rem;
   border-radius: var(--border-radius);
   text-align: center;
}

.profile__info-titulo {
   font-size: 2rem;
   margin: 0;
}

.profile__info-subtitulo {
   font-size: 1.5rem;
   margin: 0;
}

.profile__info-description {
   
   display: none;
}

.profile__info-link-container {
   display: flex;
   justify-content: center;
   gap: 1rem;
}

.profile__info-link {
   background-color: var(--button-color);
   color: var(--button-text-color);
   text-decoration: none;
   text-shadow: 0 0 0.125rem var(--primary-highlight);
   padding: 0.5em 1.5em;
   border-radius: var(--border-radius);
   transition: var(--all-transitions);

}

.profile__info-link:hover,
.profile__info-link--active {
   background-color: var(--button-color-active)
}

.profile__info-link--active {}

.profile__figure {}

.profile__figure-image-container {
   position: relative;
   display: flex;
   max-width: 256px;
   margin: 0;
}

.profile__figure-image {
   width: 100%;
   border-radius: 50%;
}

.profile__figure-one {
   position: absolute;
   width: 25%;
   top: 100;
   left: 50%;
   transform: translate(-50%, -50%);
}

.profile__figure-two {
   position: absolute;
   width: 25%;
   top: 50%;
   left: 0%;
   transform: translate(-50%, -50%);
}

.profile__figure-three {
   position: absolute;
   width: 25%;
   top: 100%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.profile__figre-four {
   position: absolute;
   width: 25%;
   top: 50%;
   left: 100%;
   transform: translate(-50%, -50%);
}